/* styles.css */
body {
    font-family: 'Cursive', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1651527567593-32c04202ed85?auto=format&fit=crop&q=80&w=1932&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    text-transform: uppercase;
}

main {
    margin: 20px;
    padding: 20px;
    /*background-color: whitesmoke;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Dancing Script', cursive;
    color: #333;
}

.character-container{
    position: absolute;
    top: 0;
    left: 25;
}

.character{
    width: 100px;
    height: auto;
}
